<template>
  <div class="home">    
    <div class="hero flex items-end pb-10 md:items-center z-depth-2 z-50"> 
      <!-- <img class="object-cover w-full h-full object-top object-center" src="" alt="Ground break"/> -->
      <div>
        <img src="../assets/images/logo.png" class="hero__logo mb-4 pl-8" alt="360 logo" />  
        <h1 class="ml-10 text-6xl text-white relative">Conduit for Change!</h1>
        <h2 class="ml-10 text-2xl text-white relative">Empowering People, Catalyzing Change, & Improving Life’s Quality</h2>
      </div>
    </div>
    <section-component></section-component>
    <section-services></section-services>
    <section-impact></section-impact>
    <section class="blue p-8">
      <h3 class="text-5xl font- mt-10 mb-6">Latest</h3>
      <div class="video-test">
        <div class="video-container" v-scrollinto="">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/-O4w9-5fT-4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
  </section>

  </div>
</template>

<script lang="ts">
import {defineComponent, computed, ref, reactive, onMounted, toRefs, ComputedRef, onUnmounted, onBeforeMount, watch} from "vue";

import {authStore} from '../store/modules/auth-store'; 
import router from "../router";
import { modalStore } from "../store/modules/modal-store";
import { formStore } from "../store/modules/form-store";
import { apiService } from "../services"; 
import SectionComponent from '../components/Section.vue'
import { globalStore } from "../store/modules/global-store";
import SectionServices from '../components/SectionServices.vue'
import SectionImpact from '../components/SectionImpact.vue'
import PullToRefresh from "pulltorefreshjs";
import { user } from "../helpers/user-helper";
import { userStore } from "../store";
import alertStore from "../store/modules/alert-store";
export default defineComponent({
  components: {SectionComponent, SectionServices,SectionImpact},
  setup(props, context) {
    //life-cycle hooks
    onBeforeMount(() => {
      alertStore.clearAlerts();
      globalStore.state.isLoading = true;
    })
    onMounted(async () => {
      //come back to
      globalStore.state.isLoading = true;
      globalStore.state.isLoading = false;
    })

    //configure data
    const data = reactive({
    });
    const isLoading = computed(() => {
      return globalStore.state.isLoading;
    })
    //methods
    return {
        ...toRefs(data), isLoading
    };
  },
}) 
</script>
<style lang="stylus">
@import "../assets/main.styl";
  .home 
    min-height 100vh;
    box-sizing border-box;
    padding px-to-rem(0px) 0 0
    width: 100%;
    color var(--text-color);
    .video-test
      max-width 900px;
      max-height 500px
      margin  0 auto
      iframe
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-bottom px-to-rem(30px);
    .hero
      height 70vh
      width 100%
      position relative 
      background-image: url('../assets/images/groundbreak.jpg')
      background-size cover;
      background-position center 20%
      // padding-top 30%
      &__logo
        max-width 240px 
        position relative;
        z-index 3
      &:before
        content: ''
        display block
        height 100%
        width 100%
        left 0
        top 0
        position absolute
        background-color rgba(0,0,0,0.35)
</style>
