<template>
  <footer class="black p-6">
    <div class="flex flex-wrap md:flex-no-wrap w-full md:w-4/5 m-auto">
      <div class="w-full md:w-1/3 p-8 text-center">
        <h3 class="text-center font-bold mb-4">Our Purpose</h3>
        <p>The purpose of 360 Detroit, Inc. is to provide services that empower and improve the quality of life for individuals and families. The organization is dedicated to assisting people in becoming self-sufficient, anchored, stabilized and well-rounded members of society. </p>
      </div>
      <div class="w-full md:w-1/3 p-8 text-center">
        <h3 class="text-center font-bold mb-4">Support 360 Detroit, Inc.</h3>
        <p>360 Detroit, Inc. is a 501c(3) organization and all donations are tax deductible. </p>
        <div class="mt-6">
          <form action="https://www.paypal.com/donate" method="post" target="_top">
            <input type="hidden" name="hosted_button_id" value="U47J4WKC343XL" />
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
          </form>
        </div>
      </div>
      <div class="w-full md:w-1/3 p-8 text-center">
        <h3 class="text-center font-bold mb-4">Contact Us</h3>
        <address>
           360 Detroit, Inc <br>
            P.O. Box 02283 Detroit, MI 48202 <br>
            Phone: (313) 466-4360 <br>
        </address>
      </div>
    </div>
  </footer>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  setup () {
    return {}
  }
})
</script>

<style lang="stylus">
  .black
    background-color #2e2c3b
    color white
    p, address
      line-height 1.4
      font-size 20px !important

</style>>