<template>
  <section class="blue p-8 flex relative z-depth-2 z-40 flex-wrap md:flex-no-wrap">
    <div class="w-full md:w-2/5 p-6">
      <img v-scrollinto="" class="mt-6 z-depth-3" src="../assets/images/whoweare.jpg" alt="Jump">
    </div>
    <div v-scrollinto="" class="w-full md:w-3/5 p-6 rich-text">
      <h3 class="text-5xl mb-4 text-secondary">Who we are</h3>
      <p>The purpose of 360 Detroit, Inc. is to provide services that empower and improve the quality of life for individuals and families. We are dedicated to assisting people in becoming self-sufficient, anchored, stabilized and well-rounded members of society. 
      </p>
      <p>Services include but are not limited to life skills development, career planning, job development, positive leisure time activities and community development activities. 360 Detroit, Inc. also creates a conduit for revitalization of targeted Detroit neighborhoods thru the creation and maintenance of viable communities.</p>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  setup () {
    

    return {}
  }
})
</script>

<style lang="stylus">
  .blue
    background-color var(--primary)
    color white
    p
      line-height 1.4
</style>>