<template>
  <div @keyup="keyboardShortcuts" @click="closeAll" class="app-main-area" :class="{'light-mode': isLightMode}">
    <alert-component></alert-component>
    <nav-component></nav-component>     
    <div class="page-layout" :class="{'no-sides': isFullSize}"> 
      <div class="page-container">
        <router-view/>
      </div>
    </div>
    <social></social>
    <footer-component></footer-component>
  </div>
</template>

<script lang="ts">
import {defineComponent, ref, nextTick, onMounted, onUnmounted, reactive, computed, toRefs, watch} from "vue";
import { apiService } from "./services/api";
import NavComponent from './components/Nav.vue';
import AlertComponent from './components/Alert.vue';
import { modalStore } from "./store/modules/modal-store";
import { Key } from "./store/types/keycodes";
import { globalStore } from "./store/modules/global-store";
import { UserDto } from "./store/entities/user-dto";
import { userStore, authStore } from "./store";
import { user } from "./helpers/user-helper";
import router, { routes } from "./router";
import Social from './components/Social.vue'
import FooterComponent from './components/Footer.vue'

export default defineComponent({ 
  components: {NavComponent, AlertComponent, FooterComponent, Social, FooterComponent},
  setup() {
    //lifecycles
    onMounted(async () => {
      window.addEventListener('keyup', keyboardShortcuts);
      // await userStore.get(authStore.userId.value);
    })
    onUnmounted(() => {
      window.removeEventListener('keyup', keyboardShortcuts);
    })
    //data
    const data = reactive({
      isFullSize: true
    })
    //computed
    const isLightMode = computed(() => {
      return true
    })

    watch(() => router.currentRoute.value.path, (newValue, oldValue) => {
      data.isFullSize = newValue === routes.home.path || newValue.indexOf('impact') > 0 || newValue.indexOf('virginia-park') > 0
    })
    //methods
    const closeAll = () => {
      globalStore.state.menuIsOpen = false;
    }
    const keyboardShortcuts = (e:KeyboardEvent) => {
      //escape can always be called to dismiss forms - regardless if deactivated
      if(e.keyCode == Key.Escape) {
        modalStore.clearAll();
        globalStore.state.menuIsOpen = false;
        globalStore.state.disableShortcuts = false;
      }
      if(globalStore.isDisabled.value)
        return;
      if(e.keyCode == Key.N) {
      }
      if(e.keyCode == Key.F) {
      }
    }
    return {keyboardShortcuts, isLightMode, user, closeAll, ...toRefs(data)}
  }
});
</script>

<style lang="stylus">
@import '/assets/tailwind/main.css';
@import "/assets/main.styl"; 

.fade-enter-active, .fade-leave-active 
  transition: opacity .5s;

.fade-enter, 
.fade-leave-to 
  opacity: 0

#app
  font-family $font-sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.app-main-area
  color var(--text-color);       
  background-color var(--background-color);

</style>
